---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import {getCollection} from "astro:content";
import Loader from "../../components/Loader";

const posts = await getCollection('posts')
---

<Layout title="Writings">
  <Loader client:load>
    <main>
      <article>
        <ul>
          {
            posts.map((post:any) => {
              return (
                <Card 
                  post={post}
                />
              );
            })
          }
        </ul>
      </article>
    </main>
  </Loader>
</Layout>
