---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import {getCollection} from "astro:content";

const posts = await getCollection('posts')
---

<Layout title="Writings">
  <main>
    <article>
      <ul>
        {
          posts.map((post:any) => {
            return (
              <Card 
                post={post}
              />
            );
          })
        }
      </ul>
    </article>
  </main>
</Layout>
