---
import { format } from "date-fns";
const {post} = Astro.props;
---
<div class="w-full">
    <h1 class="text-3xl font-sans font-semibold md:text-6xl">{post.data.title}</h1>
    <div class="flex items-center mt-5 gap-3">
        <span class="font-sans text-sm md:text-base">{format(new Date(post.data.date), 'MMMM dd, yyyy')}</span>
        <div class="after:content-[''] w-2 h-2 rounded-full bg-red-600"></div>
        <span class="font-sans font-semibold text-sm md:text-base">{post.data.author}</span>
    </div>
</div>