---
import { format } from "date-fns";
const {post} = Astro.props;
console.log("post header",post);
---
<div class="w-full">
    <h1 class="text-6xl font-sans font-semibold">{post.data.title}</h1>
    <div class="flex items-center mt-5 gap-3">
        <span>{format(new Date(post.data.date), 'MMMM dd, yyyy')}</span>
        <div class="after:content-[''] w-2 h-2 rounded-full bg-red-600"></div>
        <span>{post.data.author}</span>
    </div>
</div>